<form #passwdForm="ngForm" (ngSubmit)="onSubmit()">
<div class="form-group">
  <input type="password" [(ngModel)]="passwd" name="password" placeholder="Password" class="form-control" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
  <div *ngIf="password.invalid && (submitted || password.touched)" class="alert alert-danger">
    <div *ngIf="password.errors.required"> Password is required. </div>
    <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
  </div>
</div>

<div class="form-group">
  <input type="password" [(ngModel)]="confpassd" name="confirmpassword" placeholder="Confirm Password" class="form-control" required #confirmpassword="ngModel" pattern="{{ password.value }}" />
  <div *ngIf=" confirmpassword.invalid && (submitted || confirmpassword.touched)" class="alert alert-danger">
    <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
    <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
  </div>
</div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
