input {
    margin-right: 75px;
    border-radius: 3px;
    text-align: center;
}

div {
    text-align: center;
    border: 1px solid lightblue;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}

button {
    font-weight: bold;
}

